site_name: Using JupyterHub within a VM and on the Cloud
site_description: Building automation of a virtual machine (VM) from a server install image of ubuntu (ISO file)
site_author: Daniel Jacob
copyright: Daniel Jacob, INRAE, 2021
docs_dir: docs/

repo_name: GitHub
remote_branch: gh-pages

theme: 
  name: material
  highlightjs: true
  features:
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      primary: teal
      accent: purple 
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      primary: teal
      accent: lime

#favicon: assets/favicon.png

extra_javascript:
  - js/jquery-2.1.1.min.js
  - js/lightbox.min.js
  - js/mermaid.min.js
  - js/extra.js
#  - https://unpkg.com/mermaid@8.8.0/dist/mermaid.min.js

extra_css:
  - css/extra.css
  - css/pdfextra.css
  - css/lightbox.css
#  - css/mermaid.min.css
#  - https://unpkg.com/browse/mermaid@7.0.4/dist/mermaid.forest.min.css

plugins:
  - section-index
  - search
#  - enumerate-headings
  - print-site:
      add_to_navigation: false
      print_page_title: 'Maggot Documentation'
      add_print_site_banner: false
      # Table of contents
      add_table_of_contents: true
      toc_title: 'Table of Contents'
      toc_depth: 3
      # Content-related
      add_full_urls: false
      enumerate_headings: false
      enumerate_figures: false
      add_cover_page: true
      cover_page_template: ""
      path_to_pdf: ""
      include_css: true
      enabled: true

#  - with-pdf
#    - pdf-with-js

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - codehilite:
      guess_lang: false
      linenums: true
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.highlight:
      use_pygments: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

validation:
  omitted_files: ignore
  absolute_links: warn
  unrecognized_links: ignore


nav:
    - Home: index.md
    - Building the Base VM: basebox.md
    - Building the Final VM: finalvm.md
    - Using the Final VM on an Openstack cloud: os-cloud.md
    - Using the Final VM on Google Cloud Platform: google-cloud.md
