---
- name: Set the hostname in /etc/hostname
  shell: echo {{ vm.hostname }} > /etc/hostname
  when: vm.hostname is defined

- name: Set the hostname
  shell: hostname {{ vm.hostname }}
  when: vm.hostname is defined

- name: Update /etc/hosts
  lineinfile: 
    dest=/etc/hosts 
    regexp='^127\.0\.0\.1' 
    line='127.0.0.1 localhost {{ vm.hostname }}' 
    owner=root 
    group=root 
    mode=0644

- name: Configure static IP with Netplan
  ansible.builtin.template:
    src: netplan-static.yaml.j2
    dest: /etc/netplan/01-netcfg.yaml
    owner: root
    group: root
    mode: '0600'
  notify: Apply netplan
