---

server:
    timezone: MET
    locale: fr_FR.UTF-8

vm:
    hostname: jupyterhub
    ansible_dir: /vagrant/ansible
    data_folder: /media/sf_DATA

netplan:
  interface1: enp0s3
  interface2: enp0s8
  address: 192.168.99.1
  cidr: 24
  dns:
    - 8.8.8.8
    - 1.1.1.1

repos:
  crankey: https://cloud.r-project.org/bin/linux/ubuntu/marutter_pubkey.asc
  keyfile: /etc/apt/trusted.gpg.d/cran_ubuntu_key.asc

python_pkgs:
  - pandas
  - numpy
  - matplotlib
  - scikit-learn
