---

- name: Check if {{vm.data_folder}} are already mounted
  shell: df | grep "{{vm.data_folder}}" | wc -l
  register: mount_checked

- name: Copy vboxadd-service.service with owner and permissions
  copy:
    src: "{{vm.ansible_dir}}/roles/jupyterhub/files/systemd/vboxadd-service.service"
    dest: /etc/systemd/system/multi-user.target.wants/vboxadd-service.service
    owner: root
    group: root
    mode: 0644
  when: mount_checked.stdout == "1"

- name: Add the shared folder to /etc/fstab
  shell: |
     echo "DATA   {{vm.data_folder}}   vboxsf   auto,rw,comment=systemd.automount   0 0" >> /etc/fstab
  when: mount_checked.stdout == "1"

- name: Add vboxsf to /etc/modules
  shell: |
     echo "vboxsf" >> /etc/modules
  when: mount_checked.stdout == "1"

