---

- set_fact:
    tljh_admin: "admin"
    tljh_url: "https://tljh.jupyter.org/bootstrap.py"
    tljh_limit_cpu: 2
    tljh_limit_mem: "2G"
    tljh_timeout: 3600
    tljh_cull_interval: 60
    tljh_maxage: 0

- name: Install python3-dev package
  ansible.builtin.apt:
    name: python3-dev
    state: present
    update_cache: yes

- name: Run the Jupyerhub install script 
  script:
    cmd: "/usr/bin/curl -L {{ tljh_url }} | /usr/bin/python3 - --admin {{ tljh_admin }}; exit 0"

- name: Set the limit memory for Jupyerhub
  command: "/opt/tljh/hub/bin/tljh-config set limits.memory {{ tljh_limit_mem }}"

- name: Set the limit cpu for Jupyerhub
  command: "/opt/tljh/hub/bin/tljh-config set limits.cpu {{ tljh_limit_cpu }}"

- name: Set the idle timeout
  command: "/opt/tljh/hub/bin/tljh-config set services.cull.timeout {{ tljh_timeout }}"

- name: Set the idle check interval
  command: "/opt/tljh/hub/bin/tljh-config set services.cull.every {{ tljh_cull_interval }}"

- name: Set the maximum age
  command: "/opt/tljh/hub/bin/tljh-config set services.cull.max_age {{ tljh_maxage }}"

- name: Disabling the idle culler
  command: "/opt/tljh/hub/bin/tljh-config set services.cull.enabled False"

- name: Reload Jupyerhub config 
  command: /opt/tljh/hub/bin/tljh-config reload

- name: Update Pip
  command: /opt/tljh/user/bin/python3 -m pip install --upgrade pip

- name: Enable universe repository
  ansible.builtin.apt_repository:
    repo: "deb http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release }} universe"
    state: present

- name: Install Tex and Pandoc
  ansible.builtin.apt:
    name:
      - texlive-xetex
      - texlive-fonts-recommended
      - texlive-latex-recommended
      - texlive-latex-extra
      - pandoc
    state: present
    update_cache: yes
