---

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes

- name: Install latest libgit2
  ansible.builtin.apt:
    name: libgit2-dev
    state: latest

- name: Install build dependencies for graphics
  ansible.builtin.apt:
    name:
      - libcairo2-dev
      - libxt-dev
      - libpng-dev
      - libjpeg-dev
      - libtiff5-dev
      - libgif-dev
      - libx11-dev
      - libharfbuzz-dev
      - libfribidi-dev
      - libfreetype6-dev
      - pkg-config
    state: present

- set_fact:
    r_install:
      - r-recommended
      - r-cran-rcpp
      - r-cran-gert
      - r-cran-usethis
      - r-cran-devtools
      - r-cran-biocmanager
      - r-cran-rcurl
      - r-cran-base64enc
      - r-cran-mime
      - r-cran-inline
      - r-cran-docopt
      - r-cran-littler

- name: Install R along with some useful packages
  apt:
    name: "{{ r_install }}"
    state: latest
  when: r_install is defined
